/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
  }
  /* inherit border-box on all elements in the universe and before and after
     */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: Arial, Geneva, sans-serif;
  }
  a {
    color: #2772b0;
  }
  .wrapper {
    width: 97%;
    max-width: 1200px;
    margin: 0 auto;
    float: none;
    background-color: #fff;
  }
  

h1 {
    padding: 20px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    background-image: url("assets/images/crysback.jpg");
}

.rules {
    background-color: burlywood;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Arapey', serif;

}

#random-number {
    background-color: purple;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align:center;
}

.record-col {
    background-color: lightblue;
    text-align: center;
}

.score-prompt {
    background-color: darkgreen;
    text-align: center;
}

.total-score {
    background-color: darkgreen;
    text-align: center;
}

.pic-div {
    text-align:center;
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 760px) {

}

